<%= @mtn.mountain_name %></p>
<%= @mtn.mountain_city %></p>
<%= @mtn.mountain_state %></p>
<%= @mtn.mountain_url %></p>
<%= @mtn.mountain_lat %>;
<%= @mtn.mountain_long %>
<% @mtn.id %>



<div id='shows'>
</p>
  <strong><a href='events/save'>Go To My Shows</a></strong>
</p>
  <table>
    <thead>
      <th width = "40%">
        Name
      </th>
      <th width = "20%">
        Date
      </th>
      <th width = "20%">
        Location
      </th>
      <th>
        URL
      </th>
      <th>
        Save Show
      </th>
    </thead>
    <tbody>
      <tr>
        <td id="name">

        </td>
        <td id="date">

        </td>
        <td id="location">

        </td>
        <td id="url">

        </td>
        <td id="save">

        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
var countShows = 0;
var artistArray = [];
$.getJSON("http://api.songkick.com/api/3.0/events.json?location=geo:" + <%= @mtn.mountain_lat %> + "," + <%= @mtn.mountain_long %> + "&apikey=NGGZAUSLFDnYDLrV&jsoncallback=?",
function(data){
  console.log(data);
  for (i=0; i< data.resultsPage.totalEntries; i++){
    var name = data.resultsPage.results.event[i].performance[0].artist.displayName;
    var date = data.resultsPage.results.event[i].start.date;
    var location = data.resultsPage.results.event[i].location.city;
    var url = data.resultsPage.results.event[i].performance[0].artist.uri;
    var currentShow = new Object();
      currentShow.name = name;
      currentShow.date = date;
      currentShow.location = location;
      currentShow.url = url;
    artistArray.push(currentShow);
  }
  for (var i = 0; i < artistArray.length; i++) {
    console.log(artistArray[i].name)
    $("#name").append(artistArray[i].name + '</p>');
    $("#date").append(artistArray[i].date + '</p>');
    $("#location").append(artistArray[i].location + '</p>');
    $("#url").append('<a href='+artistArray[i].url+'>go to website</a></p>');
      countShows = countShows + 1;
      var element = document.createElement("input");
      element.className = 'mountainsClass'
      element.id = countShows;
      element.type = 'button';
      element.name = 'selectButton';
      element.value = 'save';
      element.onclick = function (){
        genShowValues(this.id-1);
      }
    $("#save").append(element);
    $("#save").append('</p>');
}})

var idVar;
var dateVar;
var nameVar;
var urlVar;
var mtnVar = <%= @mtn.id %>;

function genShowValues(value){
  idVar = artistArray[value].id
  dateVar = artistArray[value].date;
  nameVar = artistArray[value].name;
  urlVar = artistArray[value].url;
  runAjax(dateVar, nameVar, urlVar);
}

function runAjax(x,y,z){
  $.ajax({
    type: "POST",
    url: '/events/save',
    dataType: 'json',
    data: {
        date: dateVar,
        name: nameVar,
        id: idVar,
        url: urlVar,
        mtn: mtnVar
    }
  });
}

</script>
