<%= @mtn.mountain_name %></p>
<%= @mtn.mountain_city %></p>
<%= @mtn.mountain_state %></p>
<%= @mtn.mountain_url %></p>
<%= @mtn.mountain_lat %>;
<%= @mtn.mountain_long %>

<input type="button" name="name" value="find shows" onclick="songkickFunction()">
<div id='showsID'></div>
