<nav class="navbar navbar-dark bg-faded">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="../events/save">Your Shows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mountains">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
<div class="home saved">


<h3>Saved Events</h3>

</div>
<br>
<table class="table table-striped table-hover table-responsive">
  <thead class="table_head">
    <th>
      day
    </th>
    <th>
      show
    </th>
    <th>
      url
    </th>
    <th>
      remove?
    </th>
  </thead>

<tbody>
  <% @saved.each do |saved|%>
  <tr class="active">
    <!-- <td>
      <%= saved.id %>
    </td> -->
    <td>
      <%= saved.day %>
    </td>
    <td>
      <%= saved.event_name %>
    </td>
    <td>
      <a href=<%= saved.event_url %>>Show page</a>
    </td>
    <td>
     <form action="/events/events/destroy" method="post">
       <input type="hidden" name="id" value="<%= saved.id %>">
       <input type="submit" value="remove"></input>
     </form>
   </td>

  </tr>
</tbody>

  <% end %>
