rackup<h2>Saved Events</h2>

<table>
  <thead>
    <th>
      id
    </th>
    <th>
      day
    </th>
    <th>
      show
    </th>
    <th>
      url
    </th>
    <th>
      remove?
    </th>
  </thead>

<tbody>
  <% @saved.each do |saved|%>
  <tr>
    <td>
      <%= saved.id %>
    </td>
    <td>
      <%= saved.day %>
    </td>
    <td>
      <%= saved.event_name %>
    </td>
    <td>
      <%= saved.event_url %>
    </td>
    <td>
     <form action="/events/events/destroy" method="post">
       <input type="hidden" name="id" value="<%= saved.id %>">
       <input type="submit" value="remove"></input>
     </form>
   </td>

  </tr>
</tbody>

  <% end %>
