rackup<h2>Saved Events</h2>

<table>
  <thead>
    <th style="width: 10%">
      id
    </th>
    <th style="width: 15%">
      day
    </th>
    <th style="width: 30%">
      show
    </th>
    <th style="width: 20%">
      url
    </th>
    <th>
      remove?
    </th>
  </thead>

<tbody>
  <% @saved.each do |saved |%>
  <tr>
    <td>
      <%= saved.id %>
    </td>
    <td>
      <%= saved.day %>
    </td>
    <td>
      <%= saved.event_name %>
    </td>
    <td>
      <%= saved.event_url %>
    </td>
    <td>
      <form action="/events/events/destroy" method="post">
        <input type="hidden" name="id" value="<%= saved.id %>">
        <input type="submit" value="remove"></input>
      </form>
    </td>

  </tr>
</tbody>

  <% end %>
